<!-- Modal -->
<div class="modal fade" id="{% block modal_id %}{% endblock %}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 10px">
    <div class="waiting collapse" id="modal_wait"><p>Espere por favor...</p></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% block title %}{% endblock %}</h4>
            </div>
            <div class="modal-body">
                {% block body %}{% endblock %}
            </div>
            <div class="modal-footer">
                {% block footer %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>