.block-title {
	background-color: #f5f5f5;
	background: url('/img/bg-gray-dots.png') repeat-x transparent;
	border-bottom: 1px #bbbbbb solid;
	border-top: 1px #807f7f solid;
	line-height: 30px;
	overflow: hidden;
	margin-top: 20px;
}

.block-title h3 {
	color: #747474;
	font-size: 1.2em;
	font-weight: 700;
	padding: 0px 0px;
	margin: 3px 0;
	min-width: 150px;
	background-color: #e0e0e0;
}

.section-title {
	color: #555 !important;
	background-color: inherit;
	border-bottom: 1px solid #bbbbbb;
	display: block;
	height: auto;
	line-height: 28px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.section-title h3 {
	color: #555;
	font-size: 1.8em;
	font-weight: 600;
}

.section2 {
	height: 20px;
}

.section-content {
	padding: 10px 0 0 0;
}

.section-info {
	background-color: #ddd;
	border-top: 5px solid #ccc; 
	padding: 10px;
	margin-bottom: 20px;
	min-height: 100px;
}

.section-info h3 {
	margin-top: 0px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.section-info .titulo4 {
	width: 100%;
}


.mini-card {
    color: #555;
	border-right: 1px solid #ccc;
    font-family: 'Open Sans', 'Helvetica', 'Arial';
}

.mini-card .value {
	font-size: 28px;
	font-weight: 300;
	color: #333;
	padding: 10px 0;
}

.mini-card .value a {
	color: inherit;
}

.mini-card:last-child {
	border-right: none;
}

.section-info .mini-card .info-value {
    color: #333;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    padding: 10px 0 5px;
}

.title-row {
	/*border-bottom: 1px solid #bbbbbb;*/
	display: block;
	float: left;
	line-height: 28px;
	margin-bottom: 5px;
	min-height: 40px;
}

.title-row h2 {
	color: #555;
	font-size: 2.1em;
	font-weight: 700;
}

.flat-subtitle {
	border-bottom: 1px solid #bbbbbb;
	border-top: 1px solid #bbbbbb;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px 0;
	border-top: 0;
	margin: 0 0 10px;
}

.flat-subtitle h3 {
	font-size: 24px;
}


/* Windows */
.modal-delete .modal-header {
	border-top: 20px solid #d21919;
	height: 25px;
	background-color: #fff;
	color: #4f5557;
}

.modal-delete > .modal-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
}
.modal-header {
	background-color: inherit;
	border-top: 20px solid #ccc;
	color: #003366;
	padding: 6px 15px;
}
.modal-header h3 {
	font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica';
	font-weight: 100;
}

/* Buttons */
.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
    border-top: 1px solid #666 !important;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666 !important;
    border-bottom: 1px solid #aaa;
	border-right: none;
}
.input-prepend .add-on, .input-prepend .btn {
	margin-right: 0px;
}

.input-append,
.input-prepend {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
}


input.error::-webkit-input-placeholder {color: #C23B22;}
input.error:-moz-placeholder, input.error::-moz-placeholder {color: #C23B22;}
input.error:-ms-input-placeholder {color: #C23B22;}
input.error {
	background-image: url("/img/icons/icon_alert.png");
	background-position: right;
	background-repeat: no-repeat;
}

select, input, textarea {
	border-radius: 0 !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0 !important;
}
.cancel-button {
	background-image: url('/img/buttons/cancel-button.jpg')
}
.delete-button {
	background-image: url('/img/buttons/remove-button.jpg')
}
.ok-button {
	background-image: url('/img/buttons/ok-sign.jpg')
}
.save-button {
	background-image: url('/img/buttons/ok-sign.jpg')
}
.exit-button {
  background-image: url('/img/buttons/exit-button.jpg')
}
.add-button {
	background-image: url('/img/buttons/add-button.jpg')
}
.copy-button {
	background-image: url('/img/buttons/copy-button.jpg')
}
.confirm-button {
    background-image: url('/img/buttons/right-arrow-blue.png')
}
.next-button {
	background-image: url('/img/buttons/arrow-right-green.jpg');
	cursor: pointer;
}
.upload-button {
	background-image: url('/img/buttons/upload-button.jpg');
}
.search-button {
	background-image: url('/img/buttons/upload-button.jpg');
}
.mail-button {
	width: 22px !important;
	background-image: url('/img/buttons/messages-blue.jpg');
}
.attach-icon {
	background-image: url('/img/icons/icon-attach.png');
	background-repeat: no-repeat;
	background-position: center;
}



/* Small Buttons 16 pixels */
.cancel-button-16 {
	background-image: url('/img/buttons/cancel-button-16.jpg')
}
.delete-button-16 {
	background-image: url('/img/buttons/remove-button-16.jpg')
}
.ok-button-16 {
	background-image: url('/img/buttons/ok-sign-16.jpg')
}
.add-button-16 {
	background-image: url('/img/buttons/add-button-16.png')
}
.next-button-16 {
	background-image: url('/img/buttons/arrow-right-green-16.jpg');
	cursor: pointer;
}
.upload-button-16 {
	background-image: url('/img/buttons/upload-button-16.jpg');
	cursor: pointer;
}


.btn-group > .btn:first-child,
.btn-group > .btn:last-child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

/* Containers */
.hero-unit {
	background-color: inherit;
	border: none; 
	box-shadow: none;
}

.hero-item {
	background-color: white !important;
	border: 1px solid #ddd;
}

.hero-item .section-content {
	padding: 5px;
}

.row {
	margin-left: 0;
}


.frank-hero-unit {
	border: 1px solid #ccc;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	display: block;
	height: auto;
}
.actions-bar .btn {
	font-weight: normal;
	min-width: 40px;
}

.btn-action {
	padding-top: 4px;
	margin-right: 12px;
	opacity: 0.8;
	font-size: 12px;
	float: left;
}

.btn-action:hover {
	opacity: 1;
}

/* Tables */
.t-title {
	border-bottom: 1px solid #bbb;
  	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); 
  	color: #545454;
  	font-weight: 700;
}

.t-button {
	border-left: 1px solid #ccc;
	text-align: center;
	font-size: 22px;
	font-weight: 100;
	width: 31px;
	padding: 1px 1px 6px 1px;
}

.table-files td.file-actions {
	min-width: 65px;
	text-align: right;
}
.table-files .file-actions i { 
	display:none;
	padding: 0 2px;
	opacity: 0.5;
}
.table-files tr:hover .file-actions i { display:inline-block;}
.table-files .file-actions i:hover { opacity: 1;}


/* Forms */
.frank-text-field {
	color: #444;
	width: 99%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}

.frank-form td {
    vertical-align: top;
    color: #666;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    padding-left: 15px;
}
.frank-form tr:first-child td {
	border-top: none;
}
.frank-form .right {
    border-left: 1px solid #ccc;
}
.frank-form .pop-text-field {
    border-radius: 0px;
    margin-top: 0;
    box-shadow: none !important;
    border: none;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 99%;
}
.frank-form .divider {
    border-top: 1px solid #ccc;
    margin: 2px 0;
}
.frank-form .ui-datepicker-trigger {
    vertical-align: top;
}

.frank-form label {
	color: #666;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 11px;	
}

.frank-form .row-fluid {
	border-top:1px solid #ccc;
}

.frank-form .row-fluid:last-child {
	border-bottom: 1px solid #ccc;
}


.required {
	color: #0088cc;
}

/* Text Formats */
.txt-info {
	color: #a0a0a0;
	font-size: 13px;
	font-weight: normal;
}

.txt-big {
	font-size: 24px;
	font-weight: 700;
}
.txt-hint, p.txt-hint {
	color: #a5a5a5;
	font-size: 16px;
	font-weight: normal;	
}
.no-info p {
	font-size:15px;
	padding:10px; 
	text-align:center;
	color: #a5a5a5;
	margin-bottom: 0;
}
.no-info p b {color: #a0a0a0}

/* Utils */
.divider {
	width: 100%;
	height: 20px;
	margin: 5px 0;
	border-top: 1px solid #ccc;
}

.horiz-divider {
	width: 0px;
	height: 30px;
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
	margin: 0 10px;
}
.progress {
	border-radius: 0px;
	border: 1px solid #ccc;
}

/* Search bar */
.filter-bar {
    padding: 0;
    background-color: #f3f4f4;
    height: 45px;
    border: 1px solid #ccc;
}
.filter-bar ul {
    list-style: none;
    margin: 0px;
}
.filter-bar ul > li {
    float: left;
    min-height: 35px;
    min-width: 50px;
    border-right: 1px solid #ccc;
    padding: 5px 10px;
}
.filter-bar ul > li:first-child {
    border-left: 0px;
}

.filter-bar ul > li:last-child {
    border-right: 0px;
}

.filter-bar .icons {
    float:right; 
    border-left:1px solid #ccc; 
    text-align: center;
    padding: 5px;
}
.filter-bar i {
    opacity: .6;
}
.filter-bar .active {
    opacity: 1;
}

.filter-bar .txt-search {
    background-image: url("../img/icons/icon-search.png");
    background-position: right;
    background-repeat: no-repeat;
}

.expand-bar {
    width: 100%;
    background-color: #ddd;
    padding: 0px;
    min-height: 40px;
}

.expand-bar ul {
    list-style: none;
    margin: 0px;	
}
.expand-bar ul > li {
    float: left;
    min-height: 30px;
    min-width: 50px;
    border-right: 1px solid #ccc;
    padding: 5px 10px;
}

.inline-icon {
	position: relative;
	right: 20px;
	top: 0px;	
	z-index: 10000;
}

::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 10px;
    background: #fff;
}
::-webkit-scrollbar-button {
    display: none;
    height:0;
    width: 0;
}
::-webkit-scrollbar-track {
    -moz-background-clip: border;
    -webkit-background-clip: border;
    background-clip: border-box;
    border-width: 0 0 0 4px;
    border: solid transparent;
}
::-webkit-scrollbar-track:hover {
    background-color:rgba(0,0,0,.05);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
}
::-webkit-scrollbar-track:active {
    background-color:rgba(0,0,0,.05);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.14), inset -1px 0 0 rgba(0,0,0,.07);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.14), inset -1px 0 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.14), inset -1px 0 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-track:horizontal {
    border-width: 4px 0 0;
}
::-webkit-scrollbar-track:horizontal:hover {
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
}
::-webkit-scrollbar-track:horizontal:active {
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.14), inset 0 -1px 0 rgba(0,0,0,.07);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.14), inset 0 -1px 0 rgba(0,0,0,.07);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.14), inset 0 -1px 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-thumb {
    -moz-background-clip: border;
    -webkit-background-clip: border;
    background-clip: border-box;
    background-color: rgba(0,0,0,.2);
    /*border-width: 1px 1px 1px 6px;
    border: solid transparent;*/
    -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    min-height: 28px;
    padding: 100px 0 0;
}
::-webkit-scrollbar-thumb:hover {
    background-color:rgba(0,0,0,.4);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
}
::-webkit-scrollbar-thumb:active {
    background-color:rgba(0,0,0,0.5);
    -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
}
::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 1px 1px;
    -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.07);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.07);
    padding: 0 0 0 100px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
body::-webkit-scrollbar-track-piece {
    -moz-background-clip: border;
    -webkit-background-clip: border;
    background-clip: border-box;
    background-color: #f5f5f5;
    /*border-width: 0 0 0 3px;
    border: solid #fff;*/
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.14), inset -1px 0 0 rgba(0,0,0,.07);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.14), inset -1px 0 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.14), inset -1px 0 0 rgba(0,0,0,.07);
}
body::-webkit-scrollbar-track-piece:horizontal {
    border-width:3px 0 0;
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.14), inset 0 -1px 0 rgba(0,0,0,.07);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.14), inset 0 -1px 0 rgba(0,0,0,.07);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.14), inset 0 -1px 0 rgba(0,0,0,.07);
}
body::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 5px;
}
body::-webkit-scrollbar-thumb:horizontal {
    border-width: 5px 1px 1px;
}
body::-webkit-scrollbar-corner {
    -moz-background-clip: border;
    -webkit-background-clip: border;
    background-clip: border-box;
    background-color: #f5f5f5;
    border-width: 3px 0 0 3px;
    border: solid #fff;
    -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,.14);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.14);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.14);
}


.mini-report {
	width: 425px;
	height: 300px;
	background-color: #F5F18B;
 	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
	border-radius: 0px;
	font-size: 10px;
	top: 30%;
	left: 40%;
	padding: 5px;
}

.divider {
	height: 20px;
	border-bottom: 1px solid #ccc;
}

.search-field {
	background-image: url('/img/icons/icon-search.png');
	background-position: 98% center;
	background-repeat: no-repeat;
	background-color: #ffffff;
	border: #333333 !important;
	border-radius: 2px !important;
	color: #4b4b4b !important;
	width: 98%;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25)  !important;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) !important;
}


.recipients span a:hover { color:#ff0000; }

.ui-menu .ui-menu-item { whitewhite-space:nowrap; padding:0 10px 0 0; } 


/* Text Formats */
.txt-info {
	color: #a1a1a1;
	font-size: 13px;
	font-weight: normal;
}


/* Panels */
.card {
	display: inline-block;
	margin: 5px;
	position: relative;
	text-align: left;
	vertical-align: top;
	white-space: normal;
	border: 1px solid #ccc;
}

.card-info {
	background-color: #ddd;
	border-top: 5px solid #ccc; 
	margin-bottom: 20px;
	font-family: 'Source Sans Pro', 'Open Sans', 'Helvetica';
}

.card-info .card-title {
	min-height: 35px;
	height: 35px;
	width: auto;
	border-bottom: 1px solid #ccc;
	font-weight: 400;
}

.card-info .card-title .left {
	float: left;
	padding: 5px 10px;
	font-size: 18px;
	color: #3B5998;
}
.card-info .card-title .action {
	float: right;
	border-left: 1px solid #ccc;
	min-width: 25px;
	height: 100%;
	line-height: 30px;
	padding: 0px 5px;
	text-align: center;
	font-size: 24px;
	font-weight: 300;
}
.card-info .card-title .action i {	vertical-align: middle;}

.card-info .card-content {
	padding: 5px 10px;
	width: auto;
	color: #555;
	border-top: 1px solid #ccc;
	font-weight: 300;
}

.card-info .card-content table tr {
	min-height: 30px;
	line-height: 30px;
}

.panel {
	background-color: #fff;
 	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
}

.panel-light {
	background-color: #eee;
}

.card-light {
	width: 180px;
	height: 100px;
	background-color: #fff;
	position: relative;
	border: none;
	margin: 10px;
	text-align: center;
	padding-top: 20px;
}

.card-light p {
	font-weight: 200;
	color: #666;
	margin-top: 20px;
	font-size: 14px;
}

.card-light a:hover p {
	color: #0088cc;
	text-decoration: none;
}

.card-light img {
	opacity: 0.7;
}

.search-filters {
	color: #666;
}
.search-filters ul {
	list-style: none;
	margin-left: 0;
}
.search-filters ul li {
	padding: 0px 0;
	margin-top: 0px;
	line-height: 20px;
}

.search-filters .applied ul li {
	color: #2b3840;
	font-size: 11px;
	text-shadow: 0 1px 1px #fff;
	/* background-color: #ddeefe; */
	background-color: #ddd;
	/* background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddeefe), to(#bfe0f1)); */
	border: 1px solid #ccc;
	padding: 1px 7px 1px 10px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
	margin-bottom: 5px;
}

.search-filters .applied .close {
	float: right;
	margin: 1px 0 0 7px;
	padding: 0 2px;
	cursor: pointer;
	color: #5491be;
	font-size: 13px;
	font-weight: bold;
	text-shadow: 0 1px 1px #fff;
	-webkit-transition: color .1s ease-in;	
}

.search-results-summary {
	height: 20px;
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	color: #555;
}

.search-results ul {
	list-style: none;
}

.search-results li {
	padding: 5px 0;
	margin-top: 10px;
	border-bottom: 1px solid #efefef;
}

.search-results li p {
	padding-top: 2px;
	margin-bottom: 1px;
}

.search-results .no-results {
	padding: 20px;
}



.menu-lateral {
    margin-top: 20px;
    margin-left: 0px;
    padding: 0;
    list-style: none;
}
.menu-lateral li {
    margin: 5px 0;
    line-height: 20px;
    height: 20px;
    width: 100%;
    padding: 5px;
}
.menu-lateral li:hover {
    border-left: 5px solid #ccc;
    padding-left: 0;
    background-color: #ddd;
}
.menu-lateral > li > div {
    text-decoration: none;
    color: #444;
    padding-left: 25px;
}
.menu-lateral > li > a:hover {
    font-weight: bold;
}
.menu-lateral > .active {
    font-weight: bold;
    border-left: 5px solid #ccc;
    padding-left: 0;    
}
.menu-lateral .badge {border-radius: 0}

.sending {
	width: 100%;
	text-align: center;
	padding-top: 50px;
	color: #555;
	cursor: wait;
}

/* LOADING / WAITING */
.modal-loading {
    display:    none;
    position:   relative;
    z-index:    1000;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

.loading {
	width: 80px;
	color: #444;
    background: url('/img/icons/ajax-loader.gif') 
                0% 50%
                no-repeat;
    border-radius: 10px;
    padding: 15px 30px 5px 30px;
}

.clear-list {
	list-style: none;
	margin: 0;
}

.big {font-size: 1.6em; font-weight: bold}
.currency {font-size: 9px; color: #aaa; float: left; vertical-align: bottom;}
.progress {height: 10px}


a.disabled {
   pointer-events: none;
   cursor: default;
   color: #ccc !important;
}

.td-number {
	text-align: right !important;
}