.index-features{
  text-align: center;
  margin: 30px 0 170px 0;
}

.index-features .index-feature-item {
  text-align: center;
  display: inline-block;
}

.image-circle-container {
  height: 160px;
  text-align: center;
}

.image-circle {
  border: 2px solid #666;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #fff;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 80 ")";
  filter: alpha(opacity=80);
  zoom: 1;
  -webkit-transition: 0.2s border-width,0.2s opacity;
  -moz-transition: 0.2s border-width,0.2s opacity;
  -o-transition: 0.2s border-width,0.2s opacity;
  transition: 0.2s border-width,0.2s opacity;
  width: 130px;
  height: 130px;
  -webkit-border-radius: 130px;
  -moz-border-radius: 130px;
  border-radius: 130px;
  margin: 0px auto;
}

.index-features .index-feature-image {
border: 2px solid #666;
background-repeat: no-repeat;
background-position: 50% 50%;
background-color: #fff;
opacity: 0.8;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 80 ")";
filter: alpha(opacity=80);
zoom: 1;
-webkit-transition: 0.2s border-width,0.2s opacity;
-moz-transition: 0.2s border-width,0.2s opacity;
-o-transition: 0.2s border-width,0.2s opacity;
transition: 0.2s border-width,0.2s opacity;
width: 130px;
height: 130px;
-webkit-border-radius: 130px;
-moz-border-radius: 130px;
border-radius: 130px;
}


.image-circle:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 100 ")";
  filter: alpha(opacity=100);
  zoom: 1;
  border-width: 12px;
}

.index-feature-title {
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  width: 90%;
  text-align: center;
  margin: 10px auto;
}

.index-feature-text {
font-size: 14px;
line-height: 21px;
text-align: center;
width: 80%;
margin: 0 auto;
}

.feature-1 .index-feature-image {
background-image: url("/img/index-person.png");
border-color: #e5e5e5;
}

.feature-2 .index-feature-image {
background-image: url("/img/index-pubs.png");
border-color: #e5e5e5;
}
.feature-3 .index-feature-image {
background-image: url("/img/index-stats.png");
border-color: #e5e5e5;
}


input[type="text"], input[type="password"] {
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    background-color: #FFF !important;
}

.top {
    background-color: #003366;
    height: 60px;
    padding: 10px;
}

.features > ul > li {
    padding-top: 5px;
    font-size: 15px;
}

.whats-new {
    width: 60%;
    border-top: 1px solid #ccc;
    margin-top: 90px;
    padding-top: 5px;
    font-size: 90%;
}

.whats-new > h4 {
    color: #555;
    text-shadow: 1px 1px 0 #DDD;
    font-size: 90%;
}

.top-links > ul > li > a, .top-links > a {
    font-size: 12px;
    color: #EEE;
}

.top-links > ul > li > a {
    float: right;
    padding-left: 20px;

}

.top-links > ul > li > a:hover, .top-links > a:hover {
    background-color: transparent;
    color: #fff;
}

.top-links > .nav {
    padding-top: 25px;
}

.top-links {
  font-size: 12px;
}


h3 {
  font-style: italic;
  color: #484848;
}

.btn-index {
  border: 1px solid #116666;
  border-radius: 4px;
  padding: 2px 5px;
  background-color: #114466;
  margin-left: 5px;
  color: #EFEFEF;
}


.btn-index > a:hover {
  background-color: #114466;
  color: #FFF;
  text-decoration: none;
}
