body {
    /*background-color: transparent;*/
    padding-top: 0px;
}

.badge-td{
    width: 130px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 1%;
}

.badge-div{
    width: 130px;
    text-align: center;
    cursor: pointer;
}

.ac {
    border: none;
    font-size: 11px;
}
.as-list {
    min-height: 200px;
    overflow: hidden;
}

#privacy_selector{
    margin-left: 92px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.div_footer{
    margin-top: 40px;
}
.div-attachments {
    width: 99%;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
    min-height: 50px;
    font-size: 11px;
}
.attachment {
    width: auto !important;
    float: left;
    margin-left: 0 !important;
    margin-right: 25px !important;
}
.input_style{
    width: 98.9% !important;
    border-top: 1px solid #888 !important;
    border-bottom: 1px solid #b6b6b6 !important;
    border-left: 1px solid #aaa !important;
    border-right: 1px solid #aaa !important;
    border-radius: 0 !important;
}
.modal-scrollable{
    position: absolute !important;
    top: 70px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    overflow: visible !important;
}
.btn-msg-actions .input-prepend .add-on:first-child {
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ccc !important;
    border-left: 1px solid #ddd !important;
}
.section-title .alert {
    padding: 0 5px;
    font-size: 11px;
    margin-bottom: 0;
}

.section-title h4 {padding: 10px 0;}

.count-box-def {background: #fff !important; margin: 5%;}
.count-box-logs {background: #ef9496 !important; margin: 5%;}
.count-box-msg {background: #1ecec6 !important; margin: 5%;}
.count-box-submit {background: #8080ff !important; margin: 5%;}
.count-box-feedback {background: #b897c0 !important; margin: 5%;}
.count-box-meet {background: #e2b75e !important; margin: 5%;}
.count-box-rfi {background: #0088cc !important; margin: 5%;}
.msglb{background-color: #1ecec6 !important; color:#fff;}
.msglb.count-field{ color: #1ecec6;}
.logslb { background-color: #ef9496 !important; color:#fff}
.logslb.count-field{ color: #1ecec6;}
.meetingslb{ background-color: #e2b75e!important;color:#fff}
.msglb.count-field{ color: #1ecec6;}
.feedbacklb{ background-color: #b897c0!important;color:#fff}
.feedbacklb.count-field{ color: #1ecec6;}
.submittals{ background-color: #8080ff!important;color:#fff}
.submittals.count-field{ color: #1ecec6;}
.rfis{ background-color: #0088cc!important;color:#fff}
.rfis.count-field{ color: #1ecec6;}
.allset{ background-color: #999999 !important; color:#fff;}
