        body {
            padding-top: 0px;
            background-color: transparent;
            font-family: "Open Sans", "Segoe UI","Trebuchet MS";
        }
        .modal-header {
            font-family: "Open Sans", "Segoe UI","Trebuchet MS";
            background-color: #444;
            border-top: none;
            height: 30px;
        }
        .modal-header h3 {font-weight: 100; text-shadow: none; color:#efefef;}
        .modal-header .close:hover {background-color: #666}
        .modal-header a {color: #efefef;}
        .modal-header .fa {
            padding-right: 5px;
            font-size: 14px;
            vertical-align: middle;
            text-shadow: none;}

        .modal-footer {
            padding: 0px;
            width: 100%;
            background-color: #eee;
            height: 56px;
        }
        .modal-footer .input-prepend {
            padding-right: 10px;
        }
        .modal-footer > div {padding: 10px;}
        #action-buttons .btn {
            font-size: 12px;
        }
        .modal-delete > .modal-footer {padding: 10px;height: 28px;}
        label {
            font-weight: 700;
            margin-bottom: 1px;
        }
    
        body .modal {
            width: 500px !important;
        }
        .frank-form td {
            vertical-align: top;
            color: #666;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 11px;
            padding: 10px 20px;
        }
        .frank-form .right {
            border-left: 1px solid #ccc;
        }
        .frank-form .divider {
            border-top: 1px solid #ccc;
            margin: 2px 0;
        }
        .btn-bar {
            font-weight: 300;
        }