{% extends 'base.html' %}
{% load filters %}

{% block content %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
        google.load('visualization', '1.0', {'packages':['corechart']});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            try{
              var data = google.visualization.arrayToDataTable([
                    ['Dinero', 'Movimiento'],
                    ['Sueldo',     {{total_sueldos}}],
                    ['Gastos',      {{total_gastos}}],
                  ]);

                  var options = {
                    backgroundColor: 'transparent',
                    legend: 'none',
                    width: 500,
                    height: 300,
                  };


                var data2 = google.visualization.arrayToDataTable([
                    ['Fecha', 'Sueldo', 'Gastos'],
                    {% for e in datos %}
                    ['{{e.0}}', {{e.1.0}}, {{e.1.1}}],
                    {% endfor %}
                ]);

                var options2 = {
                    title: 'Sueldo vs Gastos',
                    curveType: 'function',
                    legend: { position: 'bottom' },
                    backgroundColor: 'transparent',
                    legend: 'none',
                    width: 500,
                    height: 300,
                };

                var chart = new google.visualization.PieChart(document.getElementById('balance_T'));
                chart.draw(data, options);
                var chart2 = new google.visualization.LineChart(document.getElementById('balance_L'));
                chart2.draw(data2, options2);
            }catch(err){}
        }
  </script>

    <div class="row">

        <div class="form-inline text-center">
            <p><b>Filtros</b></p>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="form-group">
                    <input class="form-control" placeholder="Buscar..." id="term" onkeypress="search(event, '/tarjeta/t/')" type="text">
                </div>
                <div class="form-group">
                    <input name="date_from" class="form-control date-field" type="text" placeholder="Desde" style="width: 100px;">
                </div>
                <div class="form-group">
                    <input name="date_to" class="form-control date-field" type="text" placeholder="Hasta" style="width: 100px;">
                </div>
                <div class="form-group">
                    <button id="sueldo_year" type="button" class="btn btn-primary" onClick="time('/dinero/s/sueldos_tabla/', 'year', 's')">
                        Buscar
                    </button>
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="margin-top: 10px;">

            <div class="row text-center">
                <p>
                    {% if total_sueldos|diference:total_gastos < 0 %}
                        <spam style="color: red">
                            $ {{ total_sueldos|diference:total_gastos|absolute }}
                        </spam>
                    {% else %}
                        <spam style="color: green">
                            $ {{ total_sueldos|diference:total_gastos|absolute }}
                        </spam>
                    {% endif %}
                </p>
                <p> Sueldo ${{total_sueldos}} - Gastos $ {{total_gastos}}</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="balance_L"></div>
                </div>

                <div class="col-md-6">
                    <div id="balance_T"></div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

