
<script type="text/javascript">

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    try{
      // Create the data table.
      var data = google.visualization.arrayToDataTable([
            ['Dinero', 'Movimiento'],
            ['Sueldo',     {{total_sueldos}}],
            ['Gastos',      {{total_gastos}}],
          ]);

          var options = {
            backgroundColor: 'transparent',
            legend: 'none',
          };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('balance_T'));
      chart.draw(data, options);
    }catch(err){}
  }
</script>