{% extends 'modal_base.html' %}

{% block title %}Borrar Sueldo{% endblock %}

{% block modal_id %}borrar_sueldo{% endblock %}

{% block body %}

    <div class="row row-eq-height">
        <div class="col-sm-4 pull-left" style="background-color: #efefef; padding: 0px; height: 100%">
            <div class="row-fluid" style="padding: 10px">
                <img src="/static/img/new_project.png" style="width: 100%;">
            </div>
        </div>
        <div class="col-sm-8" style="padding-top: 10px">
            <form id="form" action="." class="form" method="post">
                {% csrf_token %}
                Fecha: {{sueldo.fecha}}
                <br>
                Monto: ${{sueldo.monto}}
                <input type="hidden" name="fecha" value="{{sueldo.fecha}}" id="id_fecha">
                <input type="hidden" name="monto" value="{{sueldo.monto}}" id="id_monto">
                <input type="hidden" name="id" value="{{sueldo.id}}" id="id">
            </form>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary" onClick="eliminar('/dinero/s/borrar/', 'borrar_sueldo', '{{sueldo.id}}', true)">Borrar</button>
{% endblock %}