{% load tablesort %}

<table class='table'>
    <thead>
        <tr>
            <th>Tarjeta</th>
            <th>Descripción</th>
            <th>Eliminar</th>
        </tr>
    </thead>
     <tbody>
        {% for e in tarjetas %}
            <tr>
                <td>{{e.nombre}}</td>
                <td>
                    {% if e.descripcion %}
                        {{e.descripcion}}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <button type="submit" class="btn btn-link active" onClick="eliminar('/tarjeta/t/borrar/', 'borrar_tarjeta', '{{e.id}}', false)">
                        Eliminar
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-link active" onClick="modificar('/tarjeta/t/modificar/', 'modificar_tarjeta', '{{e.id}}', false)">
                        Modificar
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% block paginator %}
    {% paginator tarjetas request %}
{% endblock %}