{% load tablesort %}

<table class='table'>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Monto</th>
            <th>Días</th>
            <th>Descripción</th>
            <th>Eliminar</th>
            <th>Modificar</th>
        </tr>
    </thead>
     <tbody>
        {% for e in beneficios %}
            <tr>
                <td>{{e.producto}}</td>
                <td>{{e.monto}}</td>
                <td>
                    {% for x in e.dias.all %}
                        {{x}}
                    {% endfor %}
                </td>
                <td>{{e.descripcion}}</td>
                <td>
                    <button type="submit" class="btn btn-link active" onClick="eliminar('/tarjeta/b/borrar/', 'borrar_beneficio', '{{e.id}}', false)">
                        Eliminar
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-link active" onClick="modificar('/tarjeta/b/modificar/', 'modificar_beneficio', '{{e.id}}', false)">
                        Modificar
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% block paginator %}
    {% paginator beneficios request %}
{% endblock %}