{% extends 'base.html' %}
{% load filters %}


{% block content %}
    <div class="row">

        <div class="form-inline text-center">
            <b>Filtros</b>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="form-group">
                    <input id="date_from" class="form-control date-field" type="text" placeholder="Desde" style="width: 100px;">
                </div>
                <div class="form-group">
                    <input id="date_to" class="form-control date-field" type="text" placeholder="Hasta" style="width: 100px;">
                </div>
                <div class="form-group">
                    <button id="sueldo_year" type="button" class="btn btn-primary" onClick="buscar_balance()">
                        Buscar
                    </button>
                </div>
            </div>
        </div>

        <div id="balance_body" class="panel panel-default" style="margin-top: 10px;">
            {% include 'Dinero/balances/balance_body.html' %}
        </div>

    </div>
{% endblock %}

