{% extends 'modal_base.html' %}

{% block title %}Borrar Beneficio{% endblock %}

{% block modal_id %}borrar_beneficio{% endblock %}

{% block body %}

    <div class="row row-eq-height">
        <div class="col-sm-4 pull-left" style="background-color: #efefef; padding: 0px; height: 100%">
            <div class="row-fluid" style="padding: 10px">
                <img src="/static/img/new_project.png" style="width: 100%;">
            </div>
        </div>
        <div class="col-sm-8" style="padding-top: 10px">
            <form id="form" action="." class="form" method="post">
                {% csrf_token %}
                Monto: {{ beneficio.monto }}
                <br>
                {% if beneficio.descripcion %}
                    Descripción: {{ beneficio.descripcion }}
                    <br>
                {% endif %}
                {% if beneficio.tarjeta %}
                    Tarjeta: 
                        {% for x in beneficio.tarjeta.all %}
                            {{x}}
                        {% endfor %}
                    <br>
                {% endif %}
                {% if beneficio.producto %}
                    Producto: 
                        {% for x in beneficio.producto.all %}
                            {{x}}
                        {% endfor %}
                    <br>
                {% endif %}
                {% if beneficio.dias %}
                    Días: 
                        {% for x in beneficio.dias.all %}
                            {{x}}
                        {% endfor %}
                {% endif %}
                <input type="hidden" name="monto" value="{{beneficio.monto}}" id="id_monto">
                <input type="hidden" name="id" value="{{beneficio.id}}" id="id">
            </form>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary" onClick="eliminar('/tarjeta/b/borrar/', 'borrar_beneficio', '{{beneficio.id}}', true)">Borrar</button>
{% endblock %}