{% load tablesort %}

<table class='table'>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Descripción</th>
            <th>Eliminar</th>
            <th>Modificar</th>
        </tr>
    </thead>
     <tbody>
        {% for e in productos %}
            <tr>
                <td>{{e.nombre}}</td>
                <td>
                    {% if e.descripcion %}
                        {{e.descripcion}}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <button type="submit" class="btn btn-link active" onClick="eliminar('/producto/borrar/', 'borrar_producto', '{{e.id}}', false)">
                        Eliminar
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-link active" onClick="modificar('/producto/modificar/', 'modificar_producto', '{{e.id}}', false)">
                        Modificar
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% block paginator %}
    {% paginator productos request %}
{% endblock %}