{% extends 'Producto/modal/_nuevo_producto_modal.html' %}

{% block title %}Agregar Producto{% endblock %}

{% block body %}

    <div class="row row-eq-height">
        <div class="col-sm-4 pull-left" style="background-color: #efefef; padding: 0px; height: 100%">
            <div class="row-fluid" style="padding: 10px">
                <img src="/static/img/new_project.png" style="width: 100%;">
            </div>
        </div>
        <div class="col-sm-8" style="padding-top: 10px">
            <form id="p_form" action="." class="form" method="post">
                {% csrf_token %}
                
                <div class="form-group">
                    <label>{{ p_form.nombre.label }}</label>
                    <br>
                    {{ p_form.nombre }} 
                    {{ p_form.nombre.errors }} 
                </div>
                <div class="form-group">
                    <label>{{ p_form.descripcion.label }}</label>
                    <br>
                    {{ p_form.descripcion }}
                    {{ p_form.descripcion.errors }}
                </div>

            </form>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-primary" onclick="enviar_producto();">Guardar</button>
{% endblock %}