{% load tablesort %}

<table class='table'>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Moneda</th>
            <th>Descripcion</th>
            <th>Producto</th>
            <th>Tarjeta</th>
            <th>Eliminar</th>
            <th>Modificar</th>
        </tr>
    </thead>
     <tbody>
        {% for e in gastos %}
            <tr>
                <td>{{e.fecha}}</td>
                <td>${{e.monto}}</td>
                <td>{% if e.moneda == 'P' %}
                        <p>Pesos</p>
                    {% else %}
                        <p>Dólares</p>
                    {% endif %}
                </td>
                <td>{{e.descripcion}}</td>
                <td>
                    {% if e.producto %}
                        {{e.producto}}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{% if e.tarjeta %}
                        {{e.tarjeta}}
                    {% else %}
                        <p>Efectivo</p>
                    {% endif %}
                </td>
                <td>
                    <button type="submit" class="btn btn-link active" onClick="eliminar('/dinero/g/borrar/', 'borrar_gasto', '{{e.id}}', false)">
                        Eliminar
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-link active" onClick="modificar('/dinero/g/modificar/', 'modificar_gasto', '{{e.id}}', false)">
                        Modificar
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% block paginator %}
    {% paginator gastos request %}
{% endblock %}
