{% extends 'modal_base.html' %}

{% block title %}Borrar Tarjeta{% endblock %}

{% block modal_id %}borrar_tarjeta{% endblock %}

{% block body %}

    <div class="row row-eq-height">
        <div class="col-sm-4 pull-left" style="background-color: #efefef; padding: 0px; height: 100%">
            <div class="row-fluid" style="padding: 10px">
                <img src="/static/img/new_project.png" style="width: 100%;">
            </div>
        </div>
        <div class="col-sm-8" style="padding-top: 10px">
            <form id="form" action="." class="form" method="post">
                {% csrf_token %}
                Nombre: {{tarjeta.nombre}}
                <br>
                {% if tarjeta.descripcion %}
                    Descripción: {{tarjeta.descripcion}}
                {% endif %}
                <input type="hidden" name="nombre" value="{{tarjeta.nombre}}" id="id_nombre">
                <input type="hidden" name="id" value="{{tarjeta.id}}" id="id">
            </form>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary" onClick="eliminar('/tarjeta/t/borrar/', 'borrar_tarjeta', '{{tarjeta.id}}', true)">Borrar</button>
{% endblock %}