{% load tablesort %}

<table class='table'>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Moneda</th>
        </tr>
    </thead>
     <tbody>
        {% for e in sueldos %}
            <tr>
                <td>{{e.fecha}}</td>
                <td>{{e.monto}}</td>
                <td>{% if e.moneda == 'P' %}
                        <p>Pesos</p>
                    {% else %}
                        <p>Dólares</p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% block paginator %}
    {% paginator sueldos request %}
{% endblock %}