{% load tablesort %}

<table class='table'>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Moneda</th>
            <th>Eliminar</th>
        </tr>
    </thead>
     <tbody>
        {% for e in sueldos %}
            <tr>
                <td>{{e.fecha}}</td>
                <td>{{e.monto}}</td>
                <td>{% if e.moneda == 'P' %}
                        <p>Pesos</p>
                    {% else %}
                        <p>Dólares</p>
                    {% endif %}
                </td>
                <td>
                    <button type="submit" class="btn btn-link active" onClick="eliminar('/dinero/s/borrar_sueldo/', 'borrar_sueldo', '{{e.id}}', false)">
                        Eliminar
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
function eliminar(url, tipo, id, confirmed){
    if(confirmed){
        var $form = $('#form');
        var post_data = $form.serialize();
        post_data['id'] = id
        $.post(url, post_data, function(response){
            alert(response)
            switch (response.result) {
                case 'ERROR':
                    alert('Ha ocurrido un error, se refrescará el sitio')
                case 'OK':
                    alert('El borrado ha sido exitoso')
                    $('#modal').hide();
            }
        }, 'json');
        location.reload();
    }else{
        $.ajax({
            type: "GET",
            url: url,
            data: {
                'id': id,
            },
            success: function(data){
                $('#modal').html(data);
                $('#'+tipo).modal('show');
            },
            dataType: 'html'
        });
    }
    
}
</script>

{% block paginator %}
    {% paginator sueldos request %}
{% endblock %}