{% load tablesort %}

<table class='table'>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Moneda</th>
            <th>Eliminar</th>
            <th>Modificar</th>
        </tr>
    </thead>
     <tbody>
        {% for e in sueldos %}
            <tr>
                <td>{{e.fecha}}</td>
                <td>{{e.monto}}</td>
                <td>{% if e.moneda == 'P' %}
                        <p>Pesos</p>
                    {% else %}
                        <p>Dólares</p>
                    {% endif %}
                </td>
                <td>
                    <button type="submit" class="btn btn-link active" onClick="eliminar('/dinero/s/borrar/', 'borrar_sueldo', '{{e.id}}', false)">
                        Eliminar
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-link active" onClick="modificar('/dinero/s/modificar/', 'modificar_sueldo', '{{e.id}}', false)">
                        Modificar
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% block paginator %}
    {% paginator sueldos request %}
{% endblock %}